{% extends 'polls/base.html' %}
{% block content %}
    <h1>{{ question.question_text }}</h1>

    {% if messages %}
        {% for message in messages %}
        <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio"
                    name="choice"
                    id="choice-{{ forloop.counter }}"
                    value="{{  choice.id }}">
            <label for="choice-{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
{% endblock %}
